<div>
  <h3>ubah password</h3>
  password sekarang <input type="password" [(ngModel)]="passLama"><br>
  password baru <input type="password" [(ngModel)]="passBaru"><br>
  <span *ngIf="!isPassBaruValid" style="color: red">Password minimal 8 karakter alfanumerik <br></span>
  retype password <input type="password" [(ngModel)]="passRetype"><br>
  <span *ngIf="!isPassSama" style="color: red">Masukkan password baru sekali lagi <br></span>
  <input type="button" value="submit" style="float: right;" (click)="submitPassBaru(); resetForm();"><br>
</div>
<br>
<div>
    <h3>ubah kode rahasia</h3>
    kode sekarang <input type="password" [(ngModel)]="kodeLama"><br>
    kode baru <input type="password" [(ngModel)]="kodeBaru"><br>
    <span *ngIf="!isKodeBaruValid" style="color: red">Kode minimal 6 karakter alfanumerik <br></span>
    retype kode <input type="password" [(ngModel)]="kodeRetype"><br>
    <span *ngIf="!isKodeSama" style="color: red">Masukkan kode baru sekali lagi <br></span>
    <input type="button" value="submit" style="float: right;" (click)="submitKodeBaru(); resetForm();"><br>
</div>