<div *ngIf="page === 1">
  <h2>Histori Transaksi</h2>
  <input type="date" [(ngModel)]="historiData.dariTanggal"> sampai <input type="date" [(ngModel)]="historiData.hinggaTanggal"><br>
  <span style="color: red" *ngIf="!isRangeValid">Pilih rentang tanggal maksimal 30 hari yang lalu</span><br>
  <input type="button" value="submit" style="float: right;" (click)="getHistori()"><br> <!-- ke hasil -->
</div>
<div *ngIf="page === 2">
  <div class="header">
  Histori Transaksi<br>
  <span class="date"> {{historiData.dariTanggal}} - {{historiData.hinggaTanggal}} </span><br><br>  
  </div>
  <ul class="histori">
    <li *ngFor="let t of trx">
      <span> {{t.tgl_trans}} </span><br>
      <!--  -->
      <span> {{t.tujuan}} </span><br> <!-- atau -->
      <!-- <span>pembelian pulsa</span><br> -->
      <!--  -->
      <span> {{t.keterangan}} </span><br>
      <span>{{t.nominal}}</span><br>
      <span>{{t.status}}</span><br>
      <br>
    </li>
  </ul>
</div>
