<div *ngIf="!isLoggedIn">
  <app-register style="float: left;"></app-register>
  <div id="loginsection">
      <form>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="user" type="text" class="form-control" name="user" placeholder="Username">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
          </div>
          <br>
          <input type="button" value="Login"  class="btn btn-success" (click)="login()">
      </form>
  </div>
</div>
<app-main-screen *ngIf="isLoggedIn"></app-main-screen>

