<div *ngIf="page === 1">
  NO HP <input type="text" [(ngModel)]="dataBeli.no_hp_tujuan"><br>
  Provider
  <select [(ngModel)]="dataBeli.provider">
    <option value="indosat">indosat</option>
    <option value="xl">XL</option>
    <option value="simpati">simpati</option>
    <option value="smartfren">smartfren</option>
  </select><br>
  Nominal
  <select [(ngModel)]="dataBeli.nominal">
    <option value="25000">25000</option>
    <option value="50000">50000</option>
    <option value="100000">100000</option>
  </select><br>
  <span *ngIf="!isFormValid" style="color: red;">Form tidak boleh kosong</span><br>
  <input type="button" value="submit" style="float: right;" (click)=nextPage()><br> <!-- ke konfirmasi -->
</div>
<div *ngIf="page === 2">
    No HP <span style="float: right;"> {{dataBeli.no_hp_tujuan}} </span><br>
    Provider <span style="float: right;"> {{dataBeli.provider}} </span><br>
    Nominal <span style="float: right;"> {{dataBeli.nominal}} </span><br>
    Kode Rahasia <input type="password" maxlength="6" [(ngModel)]="dataBeli.kode_rahasia"><br>
    <input type="button" value="submit" style="float: right;" (click)="submitPulsa()"><br> <!-- ke hasil -->
</div>
<div *ngIf="page === 3">
    Pembelian pulsa <span> {{txtStatus}} </span><br>
    <span *ngIf="!status"> {{keterangan}} </span><br><br>
    No HP <span style="float: right;"> {{dataBeli.no_hp_tujuan}} </span><br>
    Provider <span style="float: right;">  {{dataBeli.provider}} </span><br>
    Nominal <span style="float: right;"> {{dataBeli.nominal}} </span><br>
</div>
