<div class="btn-group-vertical">
  <button class="btn btn-primary"><a [routerLink]="[ '/main/info-saldo' ]">Info Saldo</a></button>
  <button class="btn btn-primary"><a [routerLink]="[ '/main/mutasi-rek' ]">Mutasi Rekening</a></button>
  <button class="btn btn-primary"><a [routerLink]="[ '/main/transfer' ]">Transfer</a></button>
  <button class="btn btn-primary"><a [routerLink]="[ '/main/pembelian' ]">Pembelian</a></button>
  <button class="btn btn-primary"><a [routerLink]="[ '/main/histori' ]">Histori Transaksi</a></button>
  <button class="btn btn-primary"><a [routerLink]="[ '/main/setting' ]">Account Setting</a></button>
  <button class="btn btn-primary"><a [routerLink]="[ '/main/tambah-rek' ]">Tambah Rekening</a></button>
</div>
<div class="card" style="float: right;">
  <router-outlet></router-outlet>
</div>
