<div style="float: left;">
  <a [routerLink]="[ '/main/info-saldo' ]">info saldo</a><br><br>
  <a [routerLink]="[ '/main/mutasi-rek' ]">mutasi rekening</a><br><br>
  <a [routerLink]="[ '/main/transfer' ]">transfer</a><br><br>
  <a [routerLink]="[ '/main/pembelian' ]">pembelian</a><br><br>
  <a [routerLink]="[ '/main/histori' ]">hitori transaksi</a><br><br>
  <a [routerLink]="[ '/main/setting' ]">account setting</a><br><br>
</div>
<div style="float: right;">
  <router-outlet></router-outlet>
</div>