<div>
  Mutasi Rekening:
  <!--BARU-->
  <select name="norek-mutasi">
    <option value="#">Pilih nomor rekening</option>
    <option value="{{norek}}">norek 1</option>
    <option value="{{norek}}">norek 2</option>
    <option value="{{norek}}">...</option>
  </select><br>
  <!--BARU-->
  <span style="color: red"> {{fromDate}} </span> - <span style="color: red"> {{curDate}} </span><br><br>
  <ul>
    <li *ngFor="let t of trx">
      <span> {{t.tgl_trans}} </span> <span> Rp. {{t.nominal}} </span><br>
      <span> {{t.tujuan}} </span><br>
      <span> {{t.jenis}} </span> | <span> {{t.keterangan}} </span><br>
      <br>
    </li>
  </ul>
</div>

