<div>
  Mutasi Rekening:
  <!--BARU-->
  <select (change)="onChangedSelect($event.target.value)">
    <option *ngFor="let n of rekening" value="{{n.no_rek}}">{{n.no_rek}}</option>
  </select><br>
  <!--BARU-->
  <span style="color: red"> {{fromDate}} </span> - <span style="color: red"> {{curDate}} </span><br><br>
  <ul>
    <li *ngFor="let t of trx">
      <span> {{t.tgl_trans}} </span> <span> Rp. {{t.nominal}} </span><br>
      <span> {{t.tujuan}} </span><br>
      <span> {{t.jenis}} </span> | <span> {{t.keterangan}} </span><br>
      <br>
    </li>
  </ul>
</div>

